.seller-container {
    display: flex;
    align-items: stretch;
    background-color: #ebebeb;
  }
  
  .seller-list {
    background-color: #175861;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    max-width: 330px; 
    
  }

  .seller-info-box {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    background-color: #ffff;
    width: 500px;
    height: 180px;
    display: flex;
    justify-content: flex-start
}
  
  .seller-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .seller-list li {
      cursor: pointer;
      padding: 5px;
      margin-bottom: 10px;
      width: 270px;
      height: 57px;
      background-color: #f2f2f2;
      
    }
    
  
    .seller-item:hover {
      background-color: #2a9fae;
      /* outros estilos de hover desejados */
    }
  
  
  .seller-list li.active {
    background-color: #2a9fae;
  }
  
  .seller-details {
    flex: 2;
    padding: 20px;
    border-left: 1px solid #ccc;
  }

  .graph{
    margin: 20px;
    background-color: #ffff;
    min-height: 50vh;
    max-width: 50vh;
    min-width: 50vw;
    max-width: 50vw;
  }

  .info {
    margin-left: 40px;
  }