/*Navbar de cima*/
.navbar {
    background-color: rgba(23,88,97,80%);
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#f5f5f5;
    
    
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}


 /*SideBar*/
.nav-menu {
    background-color: #175861;
    
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
   /* left: -100%;*/
    transform: 850ms;
    transform: translate(-15%,0%);

}

.listItems{
    background-color: red;
    
}



.aaa{
    padding-right: 500px;
    display: flex;
    flex-direction: row;
    transform: translate(0%, -70%);
    
}

.nav-menu-itens{
    transform: translate(65.5%,3.5%);
    display: flex;
    flex-direction: row;

    font-size: x-large;
    font-weight: bolder;

}

.separationBar1{
    font-size: 50px;
    transform: translate(-1900%,10%);
}


.separationBar2{
    font-size: 50px;
    transform: translate(4000%,10%);
}

.text{
    color:white; 
   
}

.link{
    text-decoration: none;
}



