.client-container {
    display: flex;
    align-items: stretch;
    background-color: #ebebeb;
  }
  
  .client-list {
    background-color: #175861;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    max-width: 330px; 
    
  }

  .blue-box {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
  }
  .blue-box::before {
    background-color: blue;
   content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
  }

 
  
  .client-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .client-list li {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    width: 270px;
    height: 57px;
    background-color: #f2f2f2;
    
      
    }
    .client-info-box {
      
      margin: 20px;
      padding: 20px;
      background-color: #ffff;
      width: 500px;
      height: 180px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
  }
    
  
    .client-item:hover {
      background-color: #2a9fae;
      /* outros estilos de hover desejados */
    }
  
  
  .client-list li.active {
    background-color: #2a9fae;
  }
  
  .client-details {
    flex: 2;
    padding: 20px;
    border-left: 1px solid #ccc;
  }