.client-container {
    display: flex;
    align-items: stretch;
  }
  
  .client-list {
    flex: 1;
    padding: 20px;
  }
  
  .client-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .client-list li {
      cursor: pointer;
      padding: 5px;
      border: 1px solid #000000;
      margin-bottom: 10px;
      width: 270px;
      height: 57px;
      
    }
    
  
    .client-item:hover {
      background-color: #f2f2f2;
      /* outros estilos de hover desejados */
    }
  
  
  .client-list li.active {
    background-color: #f2f2f2;
  }
  
  .client-details {
    flex: 2;
    padding: 20px;
    border-left: 1px solid #ccc;
  }